/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    position: relative;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* display: grid; */
    margin: 0;
    padding: 0;
}

header {
    width: 80%;
    height: auto;
    background-color: #3a8dff;
    color: white;
    /* padding: 20px; */
    /* padding: 10px 20px 10px 20px; */
    position: relative;
    text-align: center;
    /* display: flex; */
    /* top: 0; */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1em;
    margin: 5px;
    padding: 10px;
}

main {
    /* padding: 20px; */
    /* padding: 10px 20px 10px 20px; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    /* background-color: red; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* display: flex; */
    /* display: grid; */
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #608094;
    border-radius: 5px;
    /* flex-grow: 1; */
}

label {
    font-size: 16px;
    /* margin-bottom: 8px; */
    /* margin: 5px 5px 8px 5px; */
    margin: 5px;
}

select {
    padding: 10px;
    font-size: 16px;
    /* margin-top: 0; */
    /* margin: 5px 5px 8px 5px; */
    margin: 5px;
    border: 4px solid #608094;
    border-radius: 5px;
    background: #16394c;
    color: #fff;
}

footer {
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* padding: 20px; */
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
    padding: 10px;
}

.button-container {
    /* display: flex; */
    /* justify-content: center; */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.BotonClass {
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    border: 4px solid #608094;
    border-radius: 5px;
}

/* .btn { */
.btn1 {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 5px;
    transition: background-color 0.3s ease;
}

/* .btn:hover { */
    /* background-color: #0056b3; */
    /* transform-style: preserve-3d; */
    /* transform: rotateX(2deg) rotateY(2deg) rotateZ(2deg); */
    /* perspective: 300px; */
    /* transform: rotatex(3.142rad); */
    /* transform: rotate3d(0, 1, 0.5, 3.142rad); */
    /* animation: rotation 2s linear infinite;  */
/* } */

/* .btn:before { */
.btn1:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    transition: left 0.5s ease;
}

/* .btn:hover:before { */
.btn1:hover:before {
    left: 100%;
}


.weather-card {
    /* background-color: #34495E; */
    background: #16394c;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;        
    height: auto;    
    text-align: center;    
    margin: 5px 0 0 0;
    border: 4px solid #608094;
    margin-left: auto;
    margin-right: auto;
    /* flex-grow: 1; */
    /* display: flex; */
}
.weather-card h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}
.weather-card .current-weather {
    display: flex;
    margin: 5px 5px 5px 15px;
    flex-direction: column;
    align-items: center;    
    width: 140px;
    height: 137px;
    float: left;
}
.weather-card .current-weather img {
    /* width: 50px; */
    /* width: 140px; */
    width: 100px;
    /* height: 50px; */
    /* height: 137px; */
    /* height: auto; */
    height: 100px;
    /* margin-bottom: 15px; */
    background-size: cover;
    /* left: 800px; */
    text-align: left;
    /* border: 1px solid red; */
    /* justify-content: left; */

}
.weather-card .current-weather .temp {
    font-size: 48px;
    margin: 0;
}
.weather-card .current-weather .description {
    font-size: 14px;
    font-weight: bold;
    /* position: absolute; */
    position: relative;
    /* left: auto; */
    /* top: 325px; */
    /* top: -35px; */
    top: 0;
    /* width: 100px; */
    width: auto;
    /* border: 1px solid red; */
    color: #fff;
}
.weather-card .details {
    font-size: 14px;
    margin: 0 0 15px 0;
    text-align: left;
    height: 137px;
    float: right;
    /* position: absolute; */
    position: relative;
    /* left: unset; */
    /* right: 300px; */
    color: #fff;
    display: block;
    /* border: 1px solid red; */
    width: 140px;
}

.weather-card .details p{
    margin: 10px 0 10px 0;
    width: auto;
}

.weather-card .details .temp {
    font-size: 32px;
    /* position: absolute; */
    position: relative;
    left: -160px;
    top: -100px;
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
}

.weather-card .forecast {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px 5px 5px;    
    width: 100%;
    top: 5px;
}

.weather-card .forecast .day {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.weather-card .forecast .day p {
    margin: 5px;
}

.weather-card .forecast .day img {
    width: 30px;
    height: 30px;
}

.weather-card .forecast .day .temp {
    font-size: 14px;
    color: #fff;
}

.sun {
    width: 100px;
    height: 100px;
    /* background: url('sol.JPG') no-repeat center center; */
    background-size: contain;
    animation: rotateSun 5s linear infinite;
}

#map {
    height: 100%;
  }

  .custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }

.api {
    display: flex;
    margin: 10px 0 10px 0;
}

.RadioClass {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 0;
    border: 4px solid #608094;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.radio {
    cursor: pointer;
    margin-top: -1px;
}

.api span {
    cursor: pointer;
}

.ImgSocial {
    display: flex;
    justify-content: center;
}

.ImgSocial img {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 5px;
    width: 20px;
    height: 20px;
}


/* @media only screen and (max-width: 400px)  { */
/* @media only screen and (max-width: 450px)  { */
@media screen and (min-width: 360px) and (max-width: 501px)  {
    body {
        width: 100%;
        position: relative;
        margin: 0;
        /* padding: 0; */
    }

    header {
        background-color: #3a8cffa4;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 0;
        transition: 0.4s;
        height: auto;
        padding: 5px;
        width: 100%;
        /* position: fixed; */
    }

    h1 {
        font-size: 14px;
        word-wrap: break-word;
        margin: 5px;
    }

    main {
        width: 100%;
        /* padding: 0; */
        padding: 5px 0 5px 0;
        margin-top: 5px;
        margin-bottom: 0;
        /* display: grid; */
        display: block;
        background-color: #333;
    }

    form {
        background-color: #99b4d1;
        /* background: #16394c; */
        border: 1px solid blue;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0;
        width: 80%;
        /* padding: 20px; */
        /* padding: 10px 20px 10px 20px; */
        padding: 10px;
    }

    select {
        font-size: 12px;
        height: 30px;
        padding: 5px 10px 5px 10px;
    }

    select, option {
        height: 30px;
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    .api {
        display: inline-flex;
        border-radius: 5px;
        border: 1px solid blue;
        padding: 5px;
        margin: 5px;
        flex-grow: 1;
        background-image: linear-gradient(150deg, #9500ff, #09f, #00ddff);
        width: 100px;
    }
    .api span {
        width: 100%;
        font-size: 12px;
        /* text-align: center; */
    }
    .RadioClass {
        display: flex;
        /* width: 85%; */
        width: 80%;
        height: auto;
        background-color: #99b4d1;
        /* background: #16394c; */
        border: 1px solid blue;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0;
        /* align-items: center; */
        /* display: flex; */
        /* justify-content: space-between; */
        /* padding: 10px; */
        /* padding: 5px 20px 5px 20px; */
        padding: 10px;
        flex-grow: 1;
    }

    .radio {
        vertical-align: middle;
        margin-top: -1px;
    }

    .weather-card {
        /* background-color: #99b4d1; */
        background: #16394cbd;
        border: 1px solid blue;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80%;
        /* height: 150px; */
        height: auto;
        /* padding: 10px 20px 10px 20px; */
        padding: 10px;
    }

    .weather-card h2 {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;        
        /* margin: 0; */
    }

    .weather-card .current-weather {
        width: 100px;
        margin-top: 5px;
        /* border: 1px solid red; */
    }

    .weather-card .current-weather .description {
        font-size: 12px;
    }

    .weather-card .details {
        font-size: 12px;
        margin-top: 5px;
    }

    .weather-card .details .temp {
        font-size: 18px;
        left: -110px;
    }

    .weather-card .current-weather img {
        width: 70px;
        height: 70px;
    }

    .button-container {
        /* display: inline-flex; */
        /* display: grid; */
        /* place-items: center; */
        width: 100%;
        /* padding: 0; */
        padding: 5px 0 5px 0;
        margin-top: 5px;
        margin-bottom: 0;
        background-color: #333;
    }

    .BotonClass {
        width: 80%;
        background-color: #99b4d1;
        /* background: #16394c; */
        border: 1px solid blue;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        /* padding: 5px 20px 5px 20px; */
        padding: 10px;
        /* padding: 20px; */
        /* padding: 10px 20px 10px 20px; */
        /* display: grid; */
        display: flex;
        align-items: center;
        /* flex-wrap: wrap; */
        /* place-items: center; */
    }

    /* button { */
        /* display: block; */
        /* text-align: center; */
        /* flex-grow: 1; */
    /* }     */

    button span {
        font-size: 14px;
    }

    .btn {
        padding: 0;
        display: inline-flex;
        text-align: center;
    }

    /* .btn { */
        /* width: 150px; */
        /* margin: 5px; */
    /* } */

    .btn1 {
        width: 100px;
        margin: 5px;
        flex-grow: 1;
        padding: 5px;
    }

    footer {
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 0;
        padding: 5px 0 5px 0;
        width: 100%;
    }
}





/* @media only screen and (orientation: landscape) and (max-width: 640px) { */
/* @media only screen and (orientation: landscape) and (max-width: 970px) { */
/* @media screen and (min-width: 640px) and (max-width: 1154px) and (orientation: landscape) { */
@media screen and (max-width: 1154px) and (orientation: landscape) {
    body {
        width: 100%;
        position: relative;
        margin: 0;
        /* padding: 0; */
    }

    header {
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 0;
        visibility: collapse;
        display: none;
        width: 100%;
    }

    h1 {
        font-size: 18px;
    }

    main {
        width: 100%;
        /* padding: 0; */
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
        display: grid;
        background-color: #333;
    }

    form {
        background-color: #99b4d1;
        border: 1px solid blue;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0;
        width: 80%;
        /* padding: 20px; */
        padding: 10px;
    }

    .api {
        display: inline-flex;
        border-radius: 5px;
        border: 1px solid blue;
        padding: 5px;
        margin: 5px;
        flex-grow: 1;
        width: 150px;
        background-image: linear-gradient(150deg, #9500ff, #09f, #00ddff);
    }

    .RadioClass {
        display: inline-flex;
        /* flex-direction: column; */
        /* align-items: center; */
        width: 80%;
        height: auto;
        background-color: #99b4d1;
        border: 1px solid blue;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0;
        padding: 10px;
    }

    .radio {
        vertical-align: middle;
        margin-top: -2px;
    }

    .weather-card {
        border: 1px solid blue;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80%;
        padding: 10px;
    }

    .weather-card .current-weather {
        width: 100px;
    }

    .weather-card .details .temp {
        font-size: 22px;
        left: -110px;
    }

    /* .button-container { */
        /* display: inline-flex; */
        /* display: grid; */
        /* place-items: center; */
        /* justify-content: center; */
        /* width: 100%;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
        background-color: #333; */
    /* } */

    .button-container {
        width: 100%;
        /* padding: 0; */
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
        display: grid;
        background-color: #333;
    }

    /* .BotonClass2 { */
        /* background-color: #99b4d1; */
        /* border: 1px solid blue; */
        /* border-radius: 5px; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* margin-top: 5px; */
        /* margin-bottom: 5px; */
        /* padding: 20px; */
        /* padding: 10px 20px 10px 20px; */
        /* padding: 10px; */
        /* width: 50%; */
        /* display: flex; */
        /* display: grid; */
        /* align-items: center; */
        /* place-items: center; */
    /* } */

    .BotonClass {
        display: inline-flex;
        /* flex-direction: column; */
        /* align-items: center; */
        width: 80%;
        height: auto;
        background-color: #99b4d1;
        border: 1px solid blue;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        /* flex-grow: 0; */
    }

    /* button { */
        /* display: block; */
        /* width: 100px; */

    /* } */

    .btn {
        /* width: 100px; */
        display: inline-flex;
        /* flex-grow: 0; */
        /* margin: 5px; */
    }


    /* .btn { */
    .btn1 {
        /* width: 150px; */
        width: 100px;
        margin: 5px;
        text-align: center;
        padding: 5px;
        /* display: inline-flex; */
    }

    footer {
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 0;
        width: 100%;
    }
}

@media only screen and (width: 360px) and (height: 640px) {
    .btn1 {
        width: 90px;
    }
    .weather-card .details .temp {
        font-size: 18px;
        left: -100px;
    }
    .weather-card .current-weather {
        width: 120px;
        margin: 0;
    }
    .weather-card .details {
        width: 120px;
        margin: 0;
    }
    .weather-card .current-weather .description {
        margin: 2px;
    }
    .weather-card .forecast {
        justify-content: center;
        gap: 10px;
        margin: 0;
    }
    .RadioClass {
        padding: 5px 10px 5px 10px;
    }
}

@media only screen and (width: 432px) and (height: 960px) {
    .btn1 {
        width: 100px;
    }
    .weather-card .details .temp {
        font-size: 20px;
        left: -130px;
        top: -90px;
    }
}

@media only screen and (width: 501px) and (height: 1154px) {
    .btn1 {
        width: 120px;
    }
    .weather-card .details .temp {
        font-size: 20px;
        left: -150px;
        top: -80px;
    }
}

@media only screen and (width: 640px) and (height: 360px) and (orientation: landscape) {
    label {
        font-size: 12px;
    }
    .api span {
        font-size: 12px;
    }
    .btn1 {
        width: 90px;
    }
    .weather-card .details .temp {
        font-size: 18px;
        left: -130px;
    }
    .weather-card .forecast {
        justify-content: center;
        gap: 10px;
        margin: 0;
    }
    select, option {
        height: 30px;
        font-size: 12px;
        padding: 5px 10px 5px 10px;
    }
}

@media only screen and (width: 960px) and (height: 432px) and (orientation: landscape) {
    label {
        font-size: 12px;
    }
    .api span {
        font-size: 12px;
    }
    .btn1 {
        width: 100px;
    }
    .weather-card .details .temp {
        font-size: 20px;
        left: -130px;
        top: -90px;
    }
    select, option {
        height: 30px;
        font-size: 12px;
        padding: 5px 10px 5px 10px;
    }
}

@media only screen and (width: 1154px) and (height: 501px) and (orientation: landscape) {
    label {
        font-size: 12px;
    }
    .api span {
        font-size: 12px;
    }
    .btn1 {
        width: 120px;
    }
    .weather-card .details .temp {
        font-size: 20px;
        left: -150px;
        top: -80px;
    }
    select, option {
        height: 30px;
        font-size: 12px;
        padding: 5px 10px 5px 10px;
    }
}